* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-image: url(../images/bgimg.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: inline-block;
  font-size: 50px;
  font-weight: 600;
}

.input-container {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  height: 30px;
  margin-top: 1.5rem;
}
.input {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.button {
  padding: 5px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.container {
  width: 300px;
  margin-top: 1.5rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff7f;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.weather-info {
  font-weight: 600;
}
